

/*----------------------------------------*/
/*    Slider Scss
/*----------------------------------------*/
@media (max-width: 991px) {
  .intro11-slider-wrap .swiper-button-prev, .intro11-slider-wrap .swiper-button-next {
    display: none;
  }
}

.intro11-slider-wrap .swiper-button-prev:focus, .intro11-slider-wrap .swiper-button-next:focus {
  border: 0px;
  outline: 0px;
}

.intro11-slider-wrap .swiper-button-prev:after, .intro11-slider-wrap .swiper-button-next:after {
  display: none;
}

.intro11-slider-wrap .swiper-button-prev i, .intro11-slider-wrap .swiper-button-next i {
  font-size: 30px;
  color: #000000;
}

.intro11-slider-wrap .swiper-button-prev i:hover, .intro11-slider-wrap .swiper-button-next i:hover {
  color: white;
}

.intro11-slider-wrap .swiper-button-prev {
  left: 50px;
}

.intro11-slider-wrap .swiper-button-next {
  right: 50px;
}

.intro11-slider-wrap .swiper-pagination-bullet {
  display: none;
  width: 12px;
  height: 12px;
  border: 2px solid #000000;
  background: transparent;
  opacity: 1;
}

.intro11-slider-wrap .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background:black;
  border-color: black;
}

.intro11-slider-wrap .swiper-pagination-bullet:hover {
  background: green;
  border-color: green;
}

@media (max-width: 991px) {
  .intro11-slider-wrap .swiper-pagination-bullet {
    display: inline-block;
  }
}

.intro11-slider {
  width: 100%;
  height: 100%;
}

.intro11-slider .intro11-content {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1500px) {
  .intro11-slider .intro11-content {
    width: 1020px;
  }
}

@media (max-width: 1199px) {
  .intro11-slider .intro11-content {
    width: 800px;
  }
}

@media (max-width: 991px) {
  .intro11-slider .intro11-content {
    width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 575px) {
  .intro11-slider .intro11-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.intro11-slider .intro11-content .title-slider {
  color: #ffffff;
  padding: 5px 10px;
  background: black;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 15px;
}

.intro11-slider .intro11-content .title-slider.black-slider-title {
  background: #000000;
}

.intro11-slider .intro11-content .title {
  font-size: 80px;
  line-height: 80px;
  font-weight: 500;
  margin-bottom: 15px;
}

@media (max-width: 1500px) {
  .intro11-slider .intro11-content .title {
    font-size: 40px;
    line-height: 40px;
  }
}



@media (max-width: 767px) {
  .intro11-slider .intro11-content .title {
    font-size: 30px;
    line-height: 30px;
  }
}

@media (max-width: 575px) {
  .intro11-slider .intro11-content .title {
    text-align: center;
  }
}

@media (max-width: 479px) {
  .intro11-slider .intro11-content .title {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }
}

.intro11-slider .intro11-content .desc-content {
  font-size: 16px;
  line-height: 28px;
  max-width: 655px;
}

@media (max-width: 1500px) {
  .intro11-slider .intro11-content .desc-content {
    font-size: 14px;
    max-width: 500px;
  }
}

@media (max-width: 575px) {
  .intro11-slider .intro11-content .desc-content {
    display: none;
  }
}

.intro11-slider .intro11-content .flosun-button {
  margin-top: 30px;
}

@media (max-width: 767px) {
  .intro11-slider .intro11-content .flosun-button {
    margin-top: 0;
  }
}

.intro11-slider .intro11-content-2 {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1500px) {
  .intro11-slider .intro11-content-2 {
    width: 1020px;
  }
}

@media (max-width: 1199px) {
  .intro11-slider .intro11-content-2 {
    width: 800px;
  }
}

@media (max-width: 991px) {
  .intro11-slider .intro11-content-2 {
    width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 575px) {
  .intro11-slider .intro11-content-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.intro11-slider .intro11-content-2 .different-title {
  font-size: 190px;
  font-family: "Great Vibes", cursive;
  line-height: 150px;
  color: green;
  margin-bottom: 20px;
}

@media (max-width: 1199px) {
  .intro11-slider .intro11-content-2 .different-title {
    font-size: 100px;
    line-height: 115px;
  }
}

@media (max-width: 767px) {
  .intro11-slider .intro11-content-2 .different-title {
    font-size: 70px;
    line-height: 40px;
  }
}

@media (max-width: 575px) {
  .intro11-slider .intro11-content-2 .different-title {
    font-size: 40px;
    line-height: 30px;
    margin-bottom: 0px;
  }
}

.intro11-slider .intro11-content-2 .title {
  font-size: 80px;
  line-height: 80px;
  font-weight: 500;
}

@media (max-width: 1500px) {
  .intro11-slider .intro11-content-2 .title {
    font-size: 40px;
    line-height: 40px;
  }
}

@media (max-width: 767px) {
  .intro11-slider .intro11-content-2 .title {
    font-size: 30px;
    line-height: 50px;
  }
}

@media (max-width: 575px) {
  .intro11-slider .intro11-content-2 .title {
    font-size: 20px;
    line-height: 25px;
    margin: 20px 0 15px;
  }
}

.intro11-slider .intro11-content-2 .flosun-button {
  margin-top: 30px;
}

@media (max-width: 767px) {
  .intro11-slider .intro11-content-2 .flosun-button {
    margin-top: 0;
  }
}

/*-- Slider Background image --*/
.bg-position {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.slide-bg-1 {
  min-height: 890px;
}

@media (max-width: 1800px) {
  .slide-bg-1 {
    min-height: 800px;
  }
}

@media (max-width: 1500px) {
  .slide-bg-1 {
    min-height: 600px;
  }
}

@media (max-width: 1199px) {
  .slide-bg-1 {
    min-height: 550px;
  }
}

@media (max-width: 991px) {
  .slide-bg-1 {
    min-height: 500px;
  }
}

@media (max-width: 767px) {
  .slide-bg-1 {
    min-height: 400px;
  }
}

@media (max-width: 575px) {
  .slide-bg-1 {
    min-height: 350px;
  }
}

@media (max-width: 479px) {
  .slide-bg-1 {
    min-height: 300px;
  }
}

.slide-bg-2 {
  min-height: 800px;
}

@media (max-width: 1500px) {
  .slide-bg-2 {
    min-height: 600px;
  }
}

@media (max-width: 1199px) {
  .slide-bg-2 {
    min-height: 550px;
  }
}

@media (max-width: 991px) {
  .slide-bg-2 {
    min-height: 500px;
  }
}

@media (max-width: 767px) {
  .slide-bg-2 {
    min-height: 400px;
  }
}

@media (max-width: 575px) {
  .slide-bg-2 {
    min-height: 350px;
  }
}

@media (max-width: 479px) {
  .slide-bg-2 {
    min-height: 300px;
  }
}

.slide-1 {
  background-image: url("../images/slider/img3.jpg");
  background-color: green;
}

.slide-2 {
  background-image: url("../images/slider/img1.jpg");
  background-color: green;
}

.slide-3 {
  background-image: url("../images/slider/img2.jpg");
  background-color: green;
}

.slide-4 {
  background-image: url("../images/slider/2-2.jpg");
  background-color: green;
}

.slide-5 {
  background-image: url("../images/slider/3-1.jpg");
  background-color: green;
}

.slide-6 {
  background-image: url("../images/slider/3-2.jpg");
  background-color: green;
}

/*-- Slider Animation --*/
.intro11-content > * {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeOutUp;
          animation-name: fadeOutUp;
}

.swiper-slide-active .intro11-content > :nth-child(1) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

.swiper-slide-active .intro11-content > :nth-child(2) {
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

.swiper-slide-active .intro11-content > :nth-child(3) {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

.swiper-slide-active .intro11-content > :nth-child(4) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

/*-- Slider Animation --*/
.intro11-content-2 > * {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeOutUp;
          animation-name: fadeOutUp;
}

.swiper-slide-active .intro11-content-2 > :nth-child(1) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

.swiper-slide-active .intro11-content-2 > :nth-child(2) {
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

.swiper-slide-active .intro11-content-2 > :nth-child(3) {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

/*----------------------------------------*/
/*    18 - Components - Button
/*----------------------------------------*/
.flosun-button {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  height: 45px;
  letter-spacing: 0.025em;
  line-height: 45px;
  padding: 0 30px;
  text-align: center;
  vertical-align: middle;
  width: auto;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 767px) {
  .flosun-button {
    padding: 0 15px;
  }
}

@media (max-width: 575px) {
  .flosun-button {
    font-size: 14px;
    padding: 0 15px;
    height: 42px;
    line-height: 42px;
  }
}

@media (max-width: 479px) {
  .flosun-button {
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
  }
}

.flosun-button.primary-btn {
  background-color: black;
  color: #ffffff;
}

.flosun-button.primary-btn:hover {
  background-color: #000000;
}

.flosun-button.secondary-btn {
  position: relative;
  background: #000000;
  color: #ffffff;
  z-index: 1;
}

.flosun-button.secondary-btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background:black;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.flosun-button.secondary-btn:hover:after {
  width: 100%;
}

.flosun-button.secondary-btn.theme-color {
  position: relative;
  background:black;
  color: #ffffff;
  z-index: 1;
}

.flosun-button.secondary-btn.theme-color:after {
  background: #000000;
}

.flosun-button.secondary-btn.secondary-border {
  border: 2px solid #000000;
  background: transparent;
  color: #000000;
  line-height: 42px;
}

.flosun-button.secondary-btn.secondary-border:hover {
  background:black;
  color: #ffffff;
  border-color: green;
}

@media (max-width: 575px) {
  .flosun-button.secondary-btn.secondary-border {
    line-height: 40px;
  }
}

@media (max-width: 479px) {
  .flosun-button.secondary-btn.secondary-border {
    border: 1px solid #000000;
  }
}

.flosun-button.white-btn {
  background-color: #d8d8d8;
  color: #1b1b1c;
}

.flosun-button.white-btn:hover {
  background-color: green;
  border-color: green;
  color: #ffffff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.flosun-button.black-btn {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}

.flosun-button.black-btn:hover {
  background-color: green;
  border-color: green;
  color: #ffffff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.flosun-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.flosun-button.button-icon {
  position: relative;
  overflow: hidden;
}

.flosun-button.button-icon.dark-btn {
  background: #000000;
  color: #ffffff;
  border-radius: 0%;
}

.flosun-button.button-icon:before {
  left: -100%;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 2.5;
  font-size: 180%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  content: "\e82e";
  font-family: Linearicons-Free;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: green;
  color: #ffffff;
  z-index: 1;
}

.flosun-button.button-icon span {
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.flosun-button.button-icon:hover:before {
  left: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}



/*    17 - Pages - Login-Register
/*----------------------------------------*/
.login-register-wrapper {
  background: #f6f6f6 none repeat scroll 0 0;
  padding: 37px 40px;
  text-align: left;
  overflow: hidden;
}

@media (max-width: 479px) {
  .login-register-wrapper {
    padding: 25px 10px;
  }
}

.login-register-wrapper .title-4 {
  font-weight: 600;
}

.login-register-wrapper .single-input-item input {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #000000;
  font-size: 14px;
  height: 40px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  border: 1px solid #ffffff;
}

.login-register-wrapper .single-input-item input:focus {
  border: 1px solid #E72463;
}
.custom-control-input {
  margin-right: 10px;
}
/* ---Section Space--- */
.mt-no-text {
  margin-top: 100px;
}

@media (max-width: 991px) {
  .mt-no-text {
    margin-top: 80px;
  }
}

@media (max-width: 479px) {
  .mt-no-text {
    margin-top: 50px;
  }
}
