<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zaatar | HomePage</title>
    <link rel="icon" type="image/x-icon" sizes="16x16" href="/static/img/icons/zaatar.png">
    <link rel="stylesheet" href="/static/styles/globals.css">
    <link rel="stylesheet" href="/static/styles/header.css">
    <link rel="stylesheet" href="/static/styles/hero.css">
    <link rel="stylesheet" href="/static/styles/features.css">
    <link rel="stylesheet" href="/static/styles/product.css">
    <link rel="stylesheet" href="/static/styles/banner.css">
    <link rel="stylesheet" href="/static/styles/sm-banner.css">
    <link rel="stylesheet" href="/static/styles/newsletter.css">
    <link rel="stylesheet" href="/static/styles/footer.css">
    <link rel="stylesheet" href="/static/styles/responsive.css">
    <link rel="stylesheet" href="/static/styles/Shop/page-header.css">
    <link rel="stylesheet" href="/static/styles/Shop/pagination.css">
    <!-- CSS
	============================================ -->
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="/static/assets/css/vendor/bootstrap.min.css"> -->
    
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/static/assets/css/vendor/font.awesome.min.css">
    <!-- Linear Icons CSS -->
    <link rel="stylesheet" href="/static/assets/css/vendor/linearicons.min.css">
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="/static/assets/css/plugins/swiper-bundle.min.css">
    <!-- Animation CSS -->
    <link rel="stylesheet" href="/static/assets/css/plugins/animate.min.css">
    <!-- Jquery ui CSS -->
    <link rel="stylesheet" href="/static/assets/css/plugins/jquery-ui.min.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="/static/assets/css/plugins/nice-select.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/static/assets/css/plugins/magnific-popup.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/static/assets/css/style.css">


    <!-- Include SweetAlert2 CSS and JS in your HTML head or right before the closing body tag -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</head>
<body> 

{% include "nav.html" %} 

<!-- tokhbis starts here -->
 <!-- Slider/Intro Section Start -->
 <div class="intro11-slider-wrap section">
    <div class="intro11-slider swiper-container">
        <div class="swiper-wrapper">
            
            <div class="intro11-section swiper-slide slide-3 slide-bg-1 bg-position">
                <!-- Intro Content Start -->
                <div class="intro11-content text-left">
                    <h3 class="title-slider black-slider-title text-uppercase">Collection</h3>
                    <h2 class="title"> Herbal Medicines <br> Pesticides</h2>
                    <a href="{% url 'ShopPage' %}#product2" class="btn flosun-button secondary-btn rounded-0" style="text-decoration: none;">Shop Now</a>
                </div>
                <!-- Intro Content End -->
            </div>

            <div class="intro11-section swiper-slide slide-1 slide-bg-1 bg-position">
                <!-- Intro Content Start -->
                <div class="intro11-content text-left">
                    <h3 class="title-slider black-slider-title text-uppercase">Models</h3>
                    <h2 class="title">Disease Prediction <br> Fertilizer Prediction</h2>
                    <a href="{% url 'ModelsPage'%}" class="btn flosun-button secondary-btn rounded-0" style="text-decoration: none;">Try it Now</a>
                </div>
                <!-- Intro Content End -->
            </div>

            <div class="intro11-section swiper-slide slide-2 slide-bg-1 bg-position">
                <!-- Intro Content Start -->
                <div class="intro11-content text-left">
                    <h3 class="title-slider text-uppercase">Top Plants</h3>
                    <h2 class="title">2023 Plant Trend</h2>
                    <!-- <p class="desc-content">Lorem ipsum dolor sit amet, pri autem nemore bonorum te. Autem fierent ullamcorper ius no, nec ea quodsi invenire. </p> -->
                    <a href="{% url 'ShopPage' %}#product1" class="btn flosun-button secondary-btn theme-color  rounded-0" style="text-decoration: none;">Shop Now</a>
                </div>
                <!-- Intro Content End -->
            </div>
        </div>
        <!-- Slider Navigation -->
        <div class="home1-slider-prev swiper-button-prev main-slider-nav"><i class="lnr lnr-arrow-left"></i></div>
        <div class="home1-slider-next swiper-button-next main-slider-nav"><i class="lnr lnr-arrow-right"></i></div>
        <!-- Slider pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>
<!-- Slider/Intro Section End -->

<!-- tokhbis ends here -->
    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="/static/img/features/freeShiping.png">
            <h6>Free Shipping</h6>
        </div>
        <div class="fe-box">
            <img src="/static/img/features/online.png">
            <h6>Online</h6>
        </div>
        <div class="fe-box">
            <img src="/static/img/features/money.png">
            <h6>Save Money</h6>
        </div>
        <div class="fe-box">
            <img src="/static/img/features/promotions.png">
            <h6>Promotions</h6>
        </div>
        <div class="fe-box">
            <img src="/static/img/features/Sell.png">
            <h6>Happy Sell</h6>
        </div>
        <div class="fe-box">
            <img src="/static/img/features/support.png">
            <h6>F24/7 Support</h6>
        </div>
    </section>
    <!-- Products Section -->
    <section id="product1" class="section-p1" style="padding-bottom: 2ex;">
        <h2>Best Seller</h2>
        <div class="pro-container">
  {% for plant in plants %}
       
            <div class="pro" id = "plant{{plant.id}}">
                <img class="producto" src="{{plant.image.url}}">
                <div class="des">
                    <h5>{{plant.name}}</h5>
                    <div class="star">
                        <img class="star-icon" src="/static/img/icons/star.png">
                        <img class="star-icon" src="/static/img/icons/star.png">
                        <img class="star-icon" src="/static/img/icons/star.png">
                        <img class="star-icon" src="/static/img/icons/star.png">
                        <img class="star-icon" src="/static/img/icons/star.png">
                    </div>
                    <h4>${{plant.price}}</h4>
                    <h1 style = "display: none;"> {{plant.quantity}}</h1>
                </div>
                <div class="cart-icon-container"><a href="#"><img class="cart-icon" src="/static/img/icons/cart.png"></a></div>
            </div>
        

            {% endfor %}
        </div>

    </section>
     <!-- load more button-->
     <section id="pagination">
        <a href="{% url 'ShopPage' %}#product1">Load More</a>
    </section> 

    <!-- Image Section-->
    <section id="banner" class="section-m1">
        <h4></h4>
        <h2>Up to <span>70% Off</span> - All Plants & Peticides</h2>
        <a href="{% url 'ShopPage' %}"><button class="normal">Explore More</button></a>
    </section>
    <!-- Pesticides Products Section-->
    <section id="product1" class="section-p1" style="padding-bottom: 2ex;">
        <h2>Organic Pesticides</h2>
        <div class="pro-container">

        {% for pest in pesticides %}
            <div class="pro" id = "pest{{pest.id}}">
                <img class="producto" src="{{pest.image.url}}">
                <div class="des">
                    <h5>{{pest.name}}</h5>
                    <div class="star">
                        <img class="star-icon" src="/static/img/icons/star.png">
                        <img class="star-icon" src="/static/img/icons/star.png">
                        <img class="star-icon" src="/static/img/icons/star.png">
                        <img class="star-icon" src="/static/img/icons/star.png">
                        <img class="star-icon" src="/static/img/icons/star.png">
                    </div>
                    <h4>${{pest.price}}</h4>
                    <h1 style = "display: none;"> {{pest.quantity}}</h1>
                </div>
                <div class="cart-icon-container"><a href="#"><img class="cart-icon" src="/static/img/icons/cart.png"></a></div>
            </div>

            {% endfor %}
        </div>

        

    </section>

      
        <!-- load more button-->
        <section id="pagination">
        <a href="{% url 'ShopPage' %}#product2">Load More</a>
        </section> 

    <section id="sm-banner" class="section-p1">
        <div class="banner-box">
            <!-- <h4>Plant Healer</h4> -->
            <h2>Upload a Picture </h2>
            <h2>and know the Cure</h2>

            <span>The best model for plant disease detection and pesticide treatment</span>
            <a href="{% url 'ModelsPage'%}"> <button class="white">Try it</button></a>
        </div>
        <div class="banner-box banner-box2">
            <!-- <h4>Soil Type</h4> -->
            <h2>Fertilizer Predictor</h2>
            <h2> Input Crop Environment</h2>
            <span>Input Environmental Parameters to Determine appropriate </span>
            <span> Fertilizer.</span>
            <a href="{% url 'ModelsPage'%}"> <button class="white">Try it</button></a>
        </div>

    </section>

    <!-- Newsletter-->
    <section id="newsletter" class="section-p1">
        <div class="newstext">
            <h4>Sign Up For Newsletter</h4>
            <p>Get E-mail updates about our latest shop and <span>special offers</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>
  <!-- Footer -->
  {% include 'footer.html'%}

    <!-- Main script -->
     <script src="/static/js/script.js"></script> 

    <!-- JS For SlideShow in assets
    ============================================ -->

    <!-- jQuery JS -->
    <script src="/static/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <!-- jQuery Migrate JS -->
    <script src="/static/assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <!-- Modernizer JS -->
    <script src="/static/assets/js/vendor/modernizr-3.7.1.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/static/assets/js/vendor/bootstrap.bundle.min.js"></script>

    <!-- Swiper Slider JS -->
    <script src="/static/assets/js/plugins/swiper-bundle.min.js"></script>
    <!-- nice select JS -->
    <script src="/static/assets/js/plugins/nice-select.min.js"></script>
    <!-- Ajaxchimpt js -->
    <script src="/static/assets/js/plugins/jquery.ajaxchimp.min.js"></script>
    <!-- Jquery Ui js -->
    <script src="/static/assets/js/plugins/jquery-ui.min.js"></script>
    <!-- Jquery Countdown js -->
    <script src="/static/assets/js/plugins/jquery.countdown.min.js"></script>
    <!-- jquery magnific popup js -->
    <script src="/static/assets/js/plugins/jquery.magnific-popup.min.js"></script>

    <!-- Main JS -->
    <script src="/static/assets/js/main.js"></script>

</body>

</html>