<section id="header">
    <a href="{% url 'HomePage' %}"><img id = "icon" src="/static/img/icons/zaatar.png"> </a>
    <div>
        <ul id="navbar">
            <li><a href="{% url 'HomePage' %}" class="{% if current_page == 'home' %}active{% endif %}" >Home</a></li>
            <li><a href="{% url 'ShopPage'%}" class="{% if current_page == 'shop' %}active{% endif %}">Shop</a></li>
            <li id = "blogNav"><a href="{% url 'BlogPage' %}" class="{% if current_page == 'blog' %}active{% endif %}">Blog</a></li>
            <li><a href="{% url 'AboutPage'%}" class="{% if current_page == 'about' %}active{% endif %}">About</a></li>
            <li id = "contact"><a href="{% url 'ContactPage' %}" class="{% if current_page == 'contact' %}active{% endif %}">Contact</a></li>
            <li id="search-og"><a> <i class="fa fa-search" aria-hidden="true"></i></a></li>
           <!-- Hidden search box -->
           <form method="get" action="/search/"> <input type="text" id="search-input" name="query" placeholder="Search..." style="display: none;"> </form>
            <li id="user-og"><a href = "{% url 'SignInPage'%}#loginglob" class="{% if current_page == 'login' %}active{% endif %}"> <i class="fa fa-user fa-lg" aria-hidden="true"></i></a></li>
            <li id="bag-og" class="cart-icon-container"><a href="{% url 'cartPage' %}" class="{% if current_page == 'cart' %}active{% endif %}"><img class="bag-icon" src="/static/img/icons/bag.png" ><span class="cart-counter" id="cartCounter">0</span></a></li>
            <img id="close" class="close-icon" src="/static/img/icons/x.png">
        </ul>
    </div>
    <div id="mobile">
        <a id="mobile-search-og" style="margin-right: 2.5ex;"> <i class="fa fa-search" aria-hidden="true"></i></a>
        <form method="get" action="/search/"><input type="text" id="mobile-search-input"  name="query" placeholder="Search..." style="display: none;"></form>

        <!-- user for mobile -->

        <a href="{% url 'SignInPage' %}#loginglob" style="margin-right: 2.5ex; color: black;" class="{% if current_page == 'login' %}active{% endif %}">
    <i class="fa fa-user fa-lg" aria-hidden="true" {% if current_page == 'login' %}style="font-size: 22px;"{% endif %}></i>
</a>

        
        <!-- cart for mobile-->
        <a href="{% url 'cartPage' %}" id="mobile-bag-og" class="mobile-cart-icon-container" class="{% if current_page == 'cart' %}active{% endif %}"><img class="bag-icon" src="/static/img/icons/bag.png"><span class="mobile-cart-counter" id="mobile-cartCounter">0</span></a>
        <img id="bar" class="menu-icon" src="/static/img/icons/menu.png">
    </div>
</section>


<script type="text/javascript">
    var userId = {{ user_id }};  
    </script>  

